.texto-secundario {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.form-gral {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

form {
    text-align: center;
    margin: 5px;

   
}

.boton {
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-family: $tipo;
}

label {
    font-family: $tipo;
    font-size: 12px;
}

input {
    background-color: $color-secundario !important;
    font-family: $tipo !important;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 15px;
    border: solid $color-secundario 3px;
    border-radius: 15px;
    font-size: 12px;
    font-family: $tipo;
}