header {
    display: flex;
    flex-direction: column;
    background: $fondo-principal;
    justify-content: space-between;
    align-items: center;

    .logo-base {
        height: 50px;
        margin: 10px 0px 0px 50px;
    }
    
    .nav-link {
        color: $color-terciario;
    }
}

.link-nav:hover {
    color: $color-principal;
}