header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $fondo-principal;
    justify-content: space-between;
 
    .nav-link {
        color: $color-terciario;
    }
}

.logo-base {
    height: 50px;
    margin: 10px 0px 0px 50px;
}

.link-nav:hover {
    color: $color-principal;
}