.main-general {
    display: grid;
}

.div-imagen-index {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto-primario {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 20px;
}

.parrafo-primario {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.texto-img-primario {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.imagen-principal {
    border-radius: 32px;
    width: 80%;
    margin: 15px 0px;
}

.sec-primera {
    display: grid;
}

.titulo-primario {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #00aacd;
    margin: 25px;
}

.desaparezco1, .desaparezco2, .desaparezco3 {
    text-align: center;
}