$titulos: (
    articulo1: 40px,
    articulo2: 25px,
    articulo3: 18px,
);

@each $articulos, $tamanios in $titulos {
    .red-#{$articulos} {
        size: $tamanios;
    }
}
// lo hago pero nose bien a que puedo aplicarlo porque ya tengo los tamaños definido con bootstrap