@media screen and (min-width:600px){

    /* nav tablet */

    .logo-base {
        height: 35px;
        margin: 10px;
    }

    /* fin nav tablet */

    /* home tablet */

    .parrafo-primario {
        font-size: 20px;
    }

    .div-imagen-index {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imagen-principal {
        border-radius: 32px;
        width: 40%;
        }

    /* fin home tablet */

    /* orientacion tablet */

    .titulo-orientacion {
        margin: 20px;
    }

    .sec-gral-ori {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sec-psicologa1 {
        justify-content: space-between;
    }

    .psicologas1 {
        width: 35%;
        border-radius: 15px;
        margin-top: 15px;
    }

    .psicologas2 {
        width: 35%;
        border-radius: 15px;
        margin-top: 15px;
    }

    /* fin orientacion */

    /* cursos tablet */

    .cursos-principal {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: end;
        column-gap: 10px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 13px;
    }

    h3 {
        font-size: 17px;
    }

    /* fin cursos tablet */

    /* bootstrap tablet */

    .w-50 {
        width: 30%!important;
    }

    /* fin de bootstrap tablet */
}

@media screen and (min-width:768px) {

    /* nav tablet horizontal */

    .logo-base {
        height: 50px;
        margin: 10px;
    }

    li {
        font-size: 20px;
        padding: 0px 5px;
    }

    /* fin nav t/h */

    /* orientacion tablet horizontal */

    .texto-orientacion {
        font-size: 20px;
        margin: 0px 35px;
    }

    /* fin orientacion t/h  */

    /* cursos tablet horizontal */

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }

    /* fin cursos t/h */

    /* contacto t/h */

    .texto-secundario {
        font-size: 17px;
        margin: 0px 40px;
    }

    label {
        font-size: 18px;
    }

    .texto-form {
        font-size: 18px;
    }

    textarea {
        font-size: 16px;
    }

    /* fin contacto t/h */

    /* bootstrap t/h */

    .row {
        flex-direction: row;
    }

    .w-50 {
        width: 85%!important;
    }

    .d-flex {
        flex-direction: row;
        align-items: unset;
    }
    /* fin bootstrap t/h */
}

@media screen and (min-width:1024px) {

    /* navbar */

    header {
        flex-direction: row;
    }

    .logo-base {
        height: 55px;
        margin: 10px 50px;
    }

    li {
        font-size: 23px;
    }

    /* fin nav laptop */

    /* home laptop */

    .texto-img-primario {
        grid-template-columns:  1fr 2fr;
    }

    .titulo-primario {
        font-size: 35px;
        animation: titulo-primario-ani 1s both;
    }

    .imagen-principal {
        width: 40%;
        margin-top: 30px;
        animation: sombra-img 0.8s both;
    }

    /* fin home laptop */

    /* orientacion laptop */

    .sec-gral-ori {
        grid-template-columns: auto;
    }

    .sec-psicologa1 {
        flex-direction: row;
    }

    .sec-psicologa2 {
        flex-direction: row;
    }

    .psicologas1 {
        width: 27%;
        /* margin-right: 90px; se produce un error con bootstrap */
        margin-bottom: 30px;
        animation: entrada-dai 0.5s both;
    }

    .psicologas2 {
        width: 27%;
        /* margin-left: 90px; se produce un error con bootstrap */
        margin-bottom: 60px;
        animation: entrada-iad 0.5s both;
    }

    /* fin orientacion laptop */

    /* ubicacion laptop */

    .texto-ubicacion {
        font-size:  20px;
    }

    /* fin ubicacion laptop */

    /* cursos laptop */

    h3 {
        font-size: 25px;
    }

    .cursos-principal {
        column-gap: 45px;
        margin: 30px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 16px;
    }

    table {
        font-size: 25px;
    }

    /* fin de cursos */

    /* contacto laptop */

    form {
        display: grid;
        grid-template-areas: "area1 area2"
                             "boton boton";
        margin: 45px;
    }

    .boton {
        grid-area: boton;
    }

    .form-primero {
        margin: 0px 45px;
    }

    .form-segundo {
        margin: 0px 45px;
    }
    /* fin contacto laptop */

    /* bootstrap t/h */

    .w-50 {
        width: 50%!important;
    }

    /* fin bootstrap t/h */
}

@media screen and (min-width:1440px) {

    /* home desktop */

    .logo-base {
        height: 70px;
        margin: 15px 70px;
    }

    li {
        font-size: 30px;
        padding: 10px 15px;
    }

    .titulo-primario {
        font-size: 62px;
    }

    .texto-img-primario {
        justify-items: normal;
    }

    .parrafo-primario {
        font-size: 32px;
    }

    .imagen-principal {
        width: 35%;
    }

    /* fin home desktop */

    /* media desktop */

    .icono-media {
        height: 70px;
        margin: 20px
    }

    /* fin media desktop */

    /* orientacion desktop */

    .titulo-orientacion {
        margin: 30px;
        font-size: 75px;
    }

    .texto-orientacion {
        font-size: 33px;
        margin: 15px 50px;
    }

    .nombres {
        font-size: 55px;
        margin: 20px;
    }

    .texto-presentacion {
        font-size: 35px;
        padding: 20px 70px 0px 70px;
    }

    /* fin orientacion desktop */

    /* ubicacion desktop */

    .oficina-psico {
        border-radius: 15px;
        width: 80%;
        margin: 0;
    }

    .texto-ubicacion {
        font-size: 32px;
        margin: 20px;
    }

    iframe {
        width: 90%;
        height: 130%;
    }

    /* fin ubicacion desktop */

    /* cursos desktop */

    h3 {
        font-size: 40px;
    }

    .cursos-principal {
        column-gap: 80px;
        margin: 20px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 30px;
    }

    .img-cursos {
        width: 90%;
        margin: 30px 0px;
    }

    table {
        font-size: 45px;
        border-spacing: 25px;
    }

    .libre {
        padding: 0px 90px 0px 130px;
    }

    /* fin cursos desktop */

    /* footer desktop */

    .legales {
        font-size: 25px;
    }

    .faq {
        font-size: 25px;
    }

    /* fin footer desktop */
}