$fondo-principal: rgb(99,228,255) linear-gradient(34deg, rgba(99,228,255,1) 0%, rgba(178,251,238,1) 65%, rgba(149,255,239,1) 100%);
$color-principal: #00aacd;
$color-secundario: #b2fbee;
$color-terciario: #00748b;
$tipo: 'Lato', sans-serif;