* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* aca arranca el header */

header {
    display: flex;
    background: rgb(99,228,255);
    background: linear-gradient(34deg, rgba(99,228,255,1) 0%, rgba(178,251,238,1) 65%, rgba(149,255,239,1) 100%);
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
}

.logo-base {
    height: 22px;
    margin: 0px 0px 0px 5px;
}

.lista-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

li {
    color: black;
    font-size: 9px;
    font-family: 'Lato', sans-serif;
    padding: 0px 5px;
}

.link-nav {
    color:black;
    text-decoration: none;
}

.link-nav:hover {
    color: #00aacd;
}

/* aca termina el header */

/* aca arranca el main de home */

.main-general {
    display: grid;
}

.div-imagen-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-primario {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 20px;
}

.parrafo-primario {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.texto-img-primario {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.imagen-principal {
    border-radius: 32px;
    width: 80%;
    margin: 15px 0px;
}

.sec-primera {
    display: grid;
}

.titulo-primario {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #00aacd; 
    margin: 25px;
}

/* aca termina el main de home*/

/* main de orientacion */

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #00aacd;
    text-align: center;
    margin: 5px;
}

.texto-orientacion {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.sec-psicologa1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-psicologa2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nombres {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #00aacd;
    text-align: center;
    margin: 10px;
}

.texto-presentacion {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
}

.contenedor-psicologa {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.psicologas1, .psicologas2 {
    border-radius: 15px;
    margin: 10px 10px;
    width: 80%;
}

/* aca termina main orientacion */

/* main ubicacion */

.oficina-psico {
    border-radius: 15px;
    width: 100%;
    margin: 0;
}

.texto-ubicacion {
    font-family: 'Lato', sans-serif;
    font-size:  15px;
    color: #363636;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.sec-ubicacion {
    display: grid;
    justify-items: center;
    padding: 10px;
}

iframe {
    border: solid #2acaad 3px;
    border-radius: 15px;
    width: 90%;
}

/* termina main ubicacion */


/* aca arranca main cursos */

.cursos-principal {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
}

.sec-cursos {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h3 {
    text-align: center;
    margin: 10px 5px;
    font-size: 20px;
    color: #00aacd;
    font-family: 'Lato', sans-serif;
}
.titulo-texto-cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-cursos1, .texto-cursos2, .texto-cursos3 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
}

.img-cursos {
    display: flex;
    width: 80%;
    border-radius: 250px;
    margin: 10px 0px;
}

.tabla {
    display: flex;
    flex-direction: column;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border-spacing: 5px;
}

thead {
    background-color: #b2fbee;
    border-radius: 15px;
}

th {
    font-family: 'Lato', sans-serif;
    padding: 10px 0px;
}

td {
    padding: 0px 6px;
}

.libre {
    padding: 0px 30px;
}

/* fin de cursos */

/* incio de contacto */

.texto-secundario {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.form-gral { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    text-align: center;
    margin: 5px;
}

label {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

input {
    background-color: #b2fbee;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.texto-form {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 7px;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 15px;
    border: solid #b2fbee 3px;
    border-radius: 15px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.boton {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

/* fin de contacto */

/* redes-media */

.padre-media {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.icono-media {
    height: 40px;
    margin: 0 10px;
}

.media {
    padding: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* termina media */

/* aca comienza mi footer */

footer {
    background: rgb(149,255,239);
    background: linear-gradient(34deg, rgba(149,255,239,1) 0%, rgba(178,251,238,1) 35%, rgba(99,228,255,1) 100%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.legales {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 17px;
    color: #363636;
}

.faq {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 17px;
    color: #363636;
    text-decoration: none;
}

.faq:hover {
    color: #00aacd;
}

/* termina footer */

@media screen and (min-width:600px){

    /* nav tablet */

    .logo-base {
        height: 35px;
        margin: 10px;
    }

    li {
        font-size: 15px;
        padding: 0px 5px;
    }

    /* fin nav tablet */

    /* home tablet */

    .parrafo-primario {
        font-size: 20px;
    }

    .div-imagen-index {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .imagen-principal {
        border-radius: 32px;
        width: 40%;
        }

    /* fin home tablet */

    /* orientacion tablet */

    .titulo-orientacion {
        margin: 20px;
    }

    .sec-gral-ori {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sec-psicologa1 {
        justify-content: space-between;
    }

    .psicologas1 {
        width: 64%;
        border-radius: 15px;
        margin-top: 15px;
    }

    .psicologas2 {
        width: 60%;
        border-radius: 15px;
        margin-top: 15px;
    }

    /* fin orientacion */

    /* cursos tablet */

    .cursos-principal {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: end;
        column-gap: 10px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 13px;
    }

    h3 {
        font-size: 17px;
    }

    /* fin cursos tablet */
}

@media screen and (min-width:768px) {

    /* nav tablet horizontal */

    .logo-base {
        height: 50px;
        margin: 10px;
    }

    li {
        font-size: 20px;
        padding: 0px 5px;
    }

    /* fin nav t/h */

    /* orientacion tablet horizontal */

    .texto-orientacion { 
        font-size: 20px;
        margin: 0px 35px;
    }

    /* fin orientacion t/h  */

    /* cursos tablet horizontal */

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }

    /* fin cursos t/h */

    /* contacto t/h */
    
    .texto-secundario { 
        font-size: 17px;
        margin: 0px 40px;
    }

    label { 
        font-size: 18px;
    }

    .texto-form {
        font-size: 18px;
    }

    textarea {
        font-size: 16px;
    }

    /* fin contacto t/h */
}

@media screen and (min-width:1024px) {

    /* nav laptop */

    .logo-base {
        height: 55px;
        margin: 10px 50px;
    }

    li {
        font-size: 23px;
    }

    /* fin nav laptop */

    /* home laptop */

    .texto-img-primario {
        grid-template-columns:  1fr 2fr;
    }

    .titulo-primario { 
        font-size: 35px;
    }

    .imagen-principal {
        width: 40%;
        margin-top: 30px;
        animation: sombra-img 0.8s both;
    }

    /* fin home laptop */

    /* orientacion laptop */

    .sec-gral-ori { 
        grid-template-columns: auto;
    }

    .sec-psicologa1 { 
        flex-direction: row;
    }

    .sec-psicologa2 { 
        flex-direction: row;
    }

    .psicologas1 {
        width: 27%;
        margin-right: 90px;
        margin-bottom: 30px;
    }

    .psicologas2 {
        width: 27%;
        margin-left: 90px;
        margin-bottom: 60px;
    }

    /* fin orientacion laptop */

    /* ubicacion laptop */

    .texto-ubicacion { 
        font-size:  20px;
    }

    /* fin ubicacion laptop */

    /* cursos laptop */

    h3 { 
        font-size: 25px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 16px;
    }

    table {
        font-size: 25px;
    }

    /* fin de cursos */

    /* contacto laptop */
    
    form {
        display: grid;
        grid-template-columns: auto auto;
        margin: 45px;
    }

    .form-primero {
        margin: 0px 45px;
    }

    .form-segundo {
        margin: 0px 45px;
    }
    /* fin contacto laptop */
}

@media screen and (min-width:1440px) {

    /* home desktop */

    .logo-base {
        height: 70px;
        margin: 15px 70px;
    }

    li {
        font-size: 30px;
        padding: 10px 15px;
    }

    .titulo-primario { 
        font-size: 62px;
    }

    .texto-img-primario {
        justify-items: normal;
    }

    .parrafo-primario {
        font-size: 32px;
    }

    .imagen-principal {
        width: 35%;
    }

    /* fin home desktop */

    /* media desktop */

    .icono-media {
        height: 70px;
        margin: 20px
    }

    /* fin media desktop */

    /* orientacion desktop */

    .titulo-orientacion {
        margin: 30px;
        font-size: 75px;
    }

    .texto-orientacion {
        font-size: 33px;
        margin: 15px 50px;
    }

    .nombres {
        font-size: 55px;
        margin: 20px;
    }

    .texto-presentacion {
        font-size: 35px;
        padding: 20px 70px 0px 70px;
    }
    
    /* fin orientacion desktop */

    /* ubicacion desktop */

    .oficina-psico {
        border-radius: 15px;
        width: 80%;
        margin: 0;
    }

    .texto-ubicacion {
        font-size: 32px;
        margin: 20px;
    }

    iframe {
        width: 90%;
        height: 130%;
    }
    
    /* fin ubicacion desktop */

    /* cursos desktop */

    h3 {
        font-size: 40px;
    }

    .texto-cursos1, .texto-cursos2, .texto-cursos3 {
        font-size: 30px;
    }

    .img-cursos {
        width: 90%;
        margin: 30px 0px;
    }

    table {
        font-size: 45px;
        border-spacing: 25px;
    }

    .libre {
        padding: 0px 89px;
    }

    /* fin cursos desktop */

    /* contacto desktop */

    .texto-secundario {
        font-size: 32px;
        margin: 15px 135px;
    }

    label {
        font-size: 45px;
    }

    input {
        font-size: 25px;
    }

    .texto-form {
        font-size: 35px;
    }

    textarea {
        font-size: 25px;
    }

    .boton {
        font-size: 30px;
    }

    /* fin contacto desktop */
    
    /* footer desktop */

    .legales {
        font-size: 25px;
    }

    .faq {
        font-size: 25px;
    }

    /* fin footer desktop */
}

/* aca arranca animaciones */

@keyframes sombra-img {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.55), 0 12px 20px -12px rgba(0, 0, 0, 0.55);
    }
  }